*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    font-style: italic;
}
.container {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

/* Default: 4 boxes per row */
.container > .box {
    flex: 1 1 calc(25% - 20px); /* 25% width minus the gap */
}

/* Medium devices: 3 boxes per row */
@media (max-width: 992px) {
    .container > .box {
        flex: 1 1 calc(100% - 20px); /* 33.33% width minus the gap */
    }
}

/* Small devices: 2 boxes per row */
@media (max-width: 768px) {
    .container > .box {
        flex: 1 1 calc(50% - 20px); /* 50% width minus the gap */
    }
}

/* Extra small devices: 1 box per row */
@media (max-width: 576px) {
    .container > .box {
        flex: 1 1 calc(100% - 20px); /* 100% width minus the gap */
    }
}
.card {
    width: 20%;
    min-height: 550px;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    margin: 10px;
    border-radius: 5px;

}

.image-name{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.image-name img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: auto;
}

.image-name h3 {
    width: 100%;
}

.members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.members h4 {
    width: 100%;
}

.members ol {
    list-style-type: none;
}

.links, .album {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}


.btn {
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.btn:hover {
    color: cornflowerblue;
}

.value {
    font-weight: normal;
    background-color: beige;
    padding: 3px;
}