<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@700..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Groupie Tracker</h1>
    </header>
    <div class="container">
      <div class="loading">
        <h5>Loading...</h5>
      </div>
      {{ range .Bands }}
      <article class="card hidden" id="content">
        <div class="image-name">
          <img src="{{.Image}}" alt="{{.Name}}" title="{{.Name}}" />
          <h3>{{.Name}}</h3>
        </div>
        <div class="members">
          <h4 class="view-members" data-target="#members-{{.Id}}">Click To View Band Members</h4>
          <ol id="members-{{.Id}}" class="members-list">
            {{ range .Members }}
            <li>{{.}}</li>
            {{ end }}
          </ol>
        </div>
        <div class="album">
          <h4>Creation Date: <span class="value">{{.CreationDate}}</span></h4>
          <h4>First Album: <span class="value">{{.FirstAlbum}}</span></h4>
        </div>
        <div class="links">
          <div class="locations">
            <form action="/locations" method="POST">
              <strong>Locations:</strong>
              <input type="hidden" name="url" value="{{.Locations}}" />
              <input type="hidden" name="bandName" value="{{.Name}}" />
              <input
                type="submit"
                value="view available locations"
                class="btn"
              />
            </form>
          </div>
          <div class="dates">
            <form action="/dates" method="POST">
              <strong>Concert Dates:</strong>
              <input
                type="hidden"
                name="url"
                value="https://groupietrackers.herokuapp.com/api/dates/{{.Id}}"
              />
              <input type="submit" value="view Concert Dates" class="btn" />
            </form>
          </div>
          <div class="relations">
            <form action="/relations" method="POST">
              <strong>Relations:</strong>
              <input type="hidden" value="{{.Relations}}" />
              <input type="submit" value="view Relations" class="btn" />
            </form>
          </div>
        </div>
      </article>
      {{ end }}
      <div class="pageNav">
        {{ if gt .CurrentPage 1 }}
        <a href="/?page={{ sub .CurrentPage 1 }}">Previous</a>
        {{ end }} Page {{ .CurrentPage }} of {{ .TotalPages }} {{ if lt .CurrentPage .TotalPages }}
        <a href="/?page={{ add .CurrentPage 1 }}">Next</a>
        {{ end }}
      </div>
    </div>
    <footer class="footer">
      <h3>&COPY; 2024 groupietracker</h3>
    </footer>
  </body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const loadingIndicator = document.querySelector(".loading");
        loadingIndicator.classList.add("hidden");
        const contentContainers = document.querySelectorAll("#content");
        contentContainers.forEach((container) => {
          container.classList.remove("hidden");
        });
      });

      let links = document.querySelectorAll('.view-members');

      links.forEach((link) => {
        link.addEventListener('click', () => {
          // Get the target selector from the data attribute
          let targetSelector = link.getAttribute('data-target');
          let members = document.querySelector(targetSelector);

          // Toggle display of the targeted members list
          if (members.style.display === 'block') {
            members.style.display = 'none';
            link.innerHTML = "Click To View Band Members"
          } else {
            members.style.display = 'block';
            link.innerHTML = "Click To Hide"
          }
        });
      });
    </script>
</html>
